/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');


.form{
  display: flex;
  gap: 5px;
  justify-content: center;
}
.gallery-list{
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  
}

.img-item{
  width: 360px;
    height: 200px;
    top: 332px;
    left: 540px;
   
}
.list-item{
  border: 1px solid black;
}

.list-container{
  display: flex;
justify-content: space-between;
padding: 4px 20px 4px 20px;
  
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}